
.gradient-bg {
  background: linear-gradient(to right, #FF3DCC, #7E33FF);
  color: white;
}

.card-style {
  background-color: #1a103d;
  border-radius: 2rem;
  padding: 2.5rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.social-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}